<div class="avisos">
    <mat-selection-list role="list" class="lista-flex">
        <mat-list class="opcion-lista-flex" *ngFor="let aviso of avisos">
            <mat-card class="aviso-card" (click)="showDetail(aviso)">
                <mat-card-header>
                    <h3>Nombre: {{aviso.service_name}}</h3><br>
                </mat-card-header>
                <mat-card-content>
                    {{aviso.description}}
                </mat-card-content>
            </mat-card>
        </mat-list>
    </mat-selection-list>
</div>